/* body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
} */
p {font-size: 16px;}
.margin {margin-bottom: 45px;}

.bg-1 { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-3 { 
  background-color: #bca1a1; /* White */
  color: #000000;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  animation-name: nav_bar;
  animation-duration: 8s;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}



/* The animation code */
@keyframes nav_bar {
  from {background-color:rgb(25, 188, 156);}
  to {background-color:rgb(248, 248, 248);}
}

@keyframes example {
  0%   {background-color: red;
        color:#f5f6f7;}
  25%  {background-color: yellow;
        color:#2f2f2f;}
  50%  {background-color: blue;
        color:#ffffff;}
  100% {background-color: green;
        color:#fff;}
}