{% extends 'base.html' %}
{%  load static  %}


{%  block content  %} 





 <!-- ROW1  Trending now header-->

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Company LoGo</h3>
    <img src="{% static 'images/root.png' %}" class="img-responsive img-circle margin" style="display:inline" alt="root" width="350" height="350">
    <h3>Main slogan for your company</h3>
  </div>

  <div class="testy">
    <h1>hello</h1>
    <p> luki luki boy here are some</p>

  </div>



{%  endblock  %}